.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 0;
}

.navbar_ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.navbar_link {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}

.navbar_login, .navbar_logout {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .navbar_link {
        font-size: 1rem;
        text-transform: capitalize;
    }

    .navbar_login, .navbar_logout {
        font-size: 1rem;
        text-transform: capitalize;
    }
}