.legalContract_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    line-height: 1.8;
    width: 40vw;
}

.legalContract_h1 {
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: black;
    text-decoration: underline;
}

.legalContract_body {
    display: flex;
    flex-direction: column;
}

.legalContract_p {
    font-size: 1.25rem;
    line-height: 1.8;
    color: black;
}