.profile_table_title {
  margin-top: 2rem;
  color: black;
}

.messageTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.messageTable th,
.messageTable td {
  border: 1px solid #ddd;
  padding: 8px;
  color: black;
}

.messageTable th {
  background-color: #f2f2f2;
  text-align: left;
}

.action_div {
  display: flex;
  justify-content: space-between;
}

.trash_icon {
  color: red;
  cursor: pointer;
}

.reply_icon {
  color: white;
  cursor: pointer;
}

.no_messages_p {
  color: black;
  margin-bottom: 5rem;
}
