.messages_container {
  width: 50vw;
  margin: 3rem 0;
}

.messages_title {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--yellow-primary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.accordion_labels {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #333;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
}

.accordion_item {
  color: white;
  background: transparent;
}

.accordion_header {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 0.5rem;
}

.header_row1 {
  display: flex;
  gap: 6rem;
  width: 62.5%;
}

.header_date {
  padding-left: 1.25rem;
}

.header_subject {
  padding-left: 0.5rem;
}

.header_row2 {
  display: flex;
  justify-content: flex-start;
  width: 37.5%;
}

.row1 {
  display: flex;
  gap: 2rem;
  width: 65%;
  justify-content: flex-start;
}

.row2 {
  display: flex;
  justify-content: flex-start;
  width: 35%;
}

.message_text {
  font-size: 1.1rem;
}

.action_div {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

@media (max-width: 1025px) {
  .messages_container {
    width: 75vw;
    margin: 1.5rem 0;
  }
}

@media (max-width: 767px) {
  .messages_container {
    width: 90vw;
    margin: 1rem 0;
  }
  .messages_title {
    font-size: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .accordion_labels {
    display: none;
  }

  .accordion_header {
    flex-direction: column;
    font-size: 0.75rem;
  }

  .row1 {
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }

  .row2 {
    margin-top: 0.5rem;
    width: 100%;
  }

  .row {
    flex-direction: column;
    align-items: flex-start;
  }

  .action_div {
    justify-content: center;
  }

  .message_text {
    font-size: 0.75rem;
    margin-bottom: 1rem;
  }
}
