.profile_card {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #ffc107, rgb(159, 166, 185), #3498db);
  box-shadow: 3px 3px 8px #333;
  margin-top: 1rem;
  width: 40vw;
  padding: 1rem;
  position: relative;
  transition: 0.3s ease-in-out;
}

.profile_card:hover {
  box-shadow: 6px 6px 16px black;
  transform: translateY(-4px) translateX(-1px) scale(1.02);
}

/* Default styling - this is to remove hover effect when in edit mode */
.profile_card.no_hover:hover {
  box-shadow: 3px 3px 8px #333; 
  transform: none; 
}

.profile_switch {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: darkslateblue;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-shadow: 1px 1px 2px white;
}

.profile_header_div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
}

.profile_image_div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.25rem;
  background-image: linear-gradient(to bottom, var(--lightblue-primary), var(--yellow-primary));
}

.profile_name_skillset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0.75rem;
}


.profile_summary_div {
  display: flex;
  flex-direction: column;
}

.profile_h1 {
  font-size: 2rem;
  font-weight: 900;
  color: darkslateblue;
  text-shadow: 2px 2px 3px white;
  letter-spacing: 2px;
  text-align: center;
}

.profile_h2 {
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 2px lightblue;
  text-align: center;
  letter-spacing: 2px;
  margin-left: 0.25rem;
}

.profile_h3 {
  font-size: 1.4rem;
  color: darkslateblue;
  text-shadow: 1px 1px 2px lightblue;
  text-align: center;
  letter-spacing: 2px;
}

.profile_aboutText {
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0.15rem;
}

.profile_aboutText p {
  font-size: 1.15rem;
  color: darkslateblue;
  font-weight: 700;
  letter-spacing: 1.25px;
}

.profile_skillset,
.profile_aboutText {
  position: relative;
  padding: 0 2rem 0 0;
}

.profile_editIcon {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
  color: white;
}

.profile_skills {
  margin: auto;
  width: 100%;
}

.profile_skills_header {
  position: relative;
  padding: 0;
}

.profile_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.profile_li {
  display: flex;
  justify-content: space-between;
  padding: 0.15rem;
  margin: 0.25rem;
  color: darkslateblue;
  font-weight: 700;
  letter-spacing: 1.5px;
  border: 1px solid white;
  padding: 0.25rem 0.75rem;
}

.skillset_text {
  color: white;
  margin-right: 0.25rem;
}

.profile_add_skill_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-top: 0.5rem;
}

.profile_addSkillIcon {
  color: white;
}

.profile_add_skill_span {
  margin-left: 0.25rem;
  color: white;
}

.profile_trashIcon {
  margin-top: 0.25rem;
}

@media (max-width: 1366px) {
  .profile_card {
    width: 60vw;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1000px) {
  .profile_card {
    width: 70vw;
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .profile_card {
    width: 95vw;
  }
}


