.profile_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.wallet_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #333;
  background-image: radial-gradient(circle, steelblue, var(--lightblue-primary), darkslateblue);
  width: 25%;
  padding: 1.5rem 0;
  margin: 0.5rem 0;
}

.wallet_balance {
  color: white;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

.wallet_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.wallet_button {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 50%; 
}

.wallet_button:hover {
  transform: scale(1.3);
  box-shadow: 0 0 3px #333;
  background-color: transparent;
  padding: 0.1rem;
}

.wallet_button:hover:nth-child(1) {
  border: 2px solid chartreuse;
}

.wallet_button:hover:nth-child(2) {
  border: 2px solid red;
}


@media (max-width: 1366px) {
  .wallet_div {
    margin: 2rem 0;
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .wallet_div {
    width: 45%;
  }
 
}

@media (max-width: 767px) {
  .wallet_div {
    width: 90%;
    padding: 0.5rem 0.5rem;
  }
  .wallet_balance {
    font-size: 0.9rem;
  }

  .wallet_buttons {
    gap: 1rem;
  }
}




