

.main {
  display: flex;
  padding: 0.5rem;
  align-items: stretch;
  justify-content: center;
}

.home_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 50%;
  gap: 1rem;
}

.home_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem;
  width: 50%;
}

.logo {
  border-radius: 10px;
}

.home_h3 {
  color: #ffc107;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.15rem;
  margin: 0;
}

.home_h4 {
  color: rgb(37, 37, 156);
  text-shadow: 2px 2px 5px #a59c9c;
  font-size: 1.35rem;
  font-weight: 900;
  letter-spacing: 0.15rem;
  margin: 0.5rem 0;
}

.home_ul {
  padding-left: 3rem;
}

.home_li {
  color: rgb(37, 37, 156);
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.15rem;
  margin: 0.25rem 0;
  padding: 0.25rem;
  transition: 0.3s ease-in;
}

.home_li:hover {
  font-size: 1.6rem;
  text-shadow: 2px 2px 5px #fff;
  background-color: #ffc107;
  border-radius: 5px;
}

.get_started_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  padding: 8px 8px;
  background-color: #3498db;
  color: #ffc107;
  
  border-radius: 5px;
  border: 2px solid white;
  font-size: 1.25rem;
  font-weight: 700;   
  letter-spacing: 0.2rem;
  box-shadow: 2px 2px 5px #a59c9c;
  transition: all 0.3s;
}

.get_started_link:hover {
  background-color: #ffc107;
  color: #3498db;
  border: 2px solid #3498db;
  box-shadow: 2px 2px 5px #3498db;
} 


@media (max-width: 1366px) {
  .home_left {
    width: 100%;
    padding: 1rem;
  }
  .home_right {
    width: 100%;
    padding: 1rem;
    align-items: center;
  }
  .logo {
    width: 75%;
    height: 75%;
  }
}


@media (max-width: 767px) {
  .main {
    flex-direction: column;
  }
  .home_left {
    padding: 0;
  }
  .home_right {
    padding: 0 1rem;
  }
  .home_h3 {
    font-size: 1.25rem;
    letter-spacing: normal;
    margin: 0;
  }
  .home_h4 {
    font-size: 1.15rem;
    letter-spacing: normal;
    text-align: center;
  }
  .home_li {
    font-size: 1rem;
    margin: 0.125rem 0;
    padding: 0.125rem;
  }
}