.login_button {
    width: 8rem;
    padding: 8px 8px;
    background-color: #3498db;
    color: #fff;
    margin: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;   
    letter-spacing: 0.2rem;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.5);
    border: none;
    transition: all 0.3s;
}

.login_button:hover {
    background-color: #b1a5a5;

    box-shadow: 2px 2px 5px #333;
}