.community_page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  min-height: 300vh;
}

.community_h1 {
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.community_h2 {
    font-size: 1.25rem;
    color: navy;
    text-shadow: 1px 1px 2px white;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

.users_div {
  display: flex;
  width: 95%;
  gap: 1rem;
}
