.profile_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}



.profile_h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: white;
}

.profile_h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: white;
  text-align: center;
}

.profile_upload_div {
  margin: 1rem;
}

.upload_widget_button {
  background-color: #3498DB;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;  
  letter-spacing: 1px;
  box-shadow: 2px 2px 3px black;
}

.profile_card {
  display: flex;
  border: 15px solid #333;
  border-radius: 15px;
  background-image: linear-gradient(to bottom, #FFC107, #3498DB);
}

.profile_aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
  width: 50%;
}

.profile_h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0 0 0.5rem 0;
  color: darkslateblue;
  text-shadow: 2px 2px 3px white;
  letter-spacing: 2px;
}

.profile_aboutMe h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: white;
}

.profile_aboutMe p {
  font-size: 1.15rem;
  color: darkslateblue;
  font-weight: 700;
  letter-spacing: 1.25px;
  margin-bottom: 1rem;
}

.profile_skillset,
.profile_aboutText {
  position: relative;
  padding: 0 2rem;
}

.profile_editIcon {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
  color: white;
}

.profile_aboutMe p,
.profile_aboutMe h2 {
  text-align: center;
}

.profile_switch {
  color: black;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.profile_group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.profile_p {
  font-size: 1.15rem;
  color: white;
  font-weight: 500;
  margin-bottom: 1rem;
}

.profile_skills {
  width: 90%;
}

.profile_skills_header {
  position: relative;
  padding: 0;
}

.profile_ul {
  width: 100%;
}

.profile_li {
  display: flex;
  justify-content: space-between;
  padding: 0.15rem;
  margin: 0.25rem;
  color: darkslateblue;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.profile_add_skill_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-top: 0.5rem;
}

.profile_addSkillIcon {
  color: white;
}

.profile_add_skill_span {
  margin-left: 0.25rem;
  color: white;
}
